/* CSS reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Page layout */

html {
  font-size: 0.7em;
}

body {
  display: grid;
  grid-template-columns: [left] 16rem [content] auto [right];
  grid-template-rows: [top] 12rem [content-top] auto [content-bottom] 8rem [bottom];
  width: 920px; /* TODO */
  margin: auto;
}

header.logo {
  border-bottom: 0.2rem solid #000;
  grid-column: left / content;
  grid-row: top / content-top;
  align-self: end;
}

.logo-container {
  float: right;
}

header.blog-title {
  border-bottom: 0.2rem solid #000;
  grid-column: content / right;
  grid-row: top / content-top;
  align-self: end;
}

.blog-title-container {
  margin-bottom: 2rem;
  margin-left: 2rem;
}

main {
  grid-column: content / right;
  grid-row: content-top / content-bottom;
}

.main-container {
  margin-top: 3rem;
  margin-left: 2rem;
}

nav {
  text-align: right;
  grid-column: left / content;
  grid-row: content-top / content-bottom;
}

.sidebar-container {
  margin-right: 3rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

nav a {
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid #000;
  text-align: right;
  grid-column: left / right;
  grid-row: content-bottom / bottom;
}

/* Styling */

body {
  font-size: 1.7rem;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 0.02rem;
  line-height: 1.5;
  color: #000;
}

.blog-title a {
  font-size: 3rem;
  color: #000;
  text-decoration: none;
}

h1 {
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0;
  margin-bottom: 1rem;
}

.byline {
  font-size: 1.5rem;
  font-style: italic;
  color: #444;
}

.article-title {
  margin-bottom: 1.5rem;
}

.article-title h1 {
  margin-bottom: 0.1rem;
}

h2 {
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: 0.9rem;
  margin-bottom: 0.4rem;
}

.article-body p {
  font-size: 1.5rem;
  font-family: 'Lora', serif;
}

footer {
  font-size: 1.3rem;
  color: #444;
}

li {
  padding-left: 1rem;
}

ul {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* @media (max-width: 319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: block;
    line-height: 1.6;
  }
}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: inline;
    margin: 0 0.6rem;
  }
}

@media (min-width: 640px) {
  body {
    width: 60rem;
    margin: 0 auto;
    padding: 0;
  }
  header {
    margin: 0 0 3rem;
    padding: 1.2rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }
  footer {
    text-align: right;
  }
  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 1.8rem;
  }
}
*/
